version: "3.9"

services:
  # API Gateway (Nginx)
  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    depends_on:
      - auth-service
      - acad-service
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8081:80"
    networks:
      - microservices-network

  # Auth Service
  auth-service:
    build: ./auth-service
    container_name: auth-service
    depends_on:
      - auth-db
    environment:
      NODE_ENV: development
      PORT: "3001"
      MONGO_URI: mongodb://auth-db:27017/auth
      JWT_SECRET: c3a584016dd65288592ff125684d6326
    ports:
      - "3001:3001"
    volumes:
      - ./auth-service:/app
      - /app/node_modules
    networks:
      - microservices-network
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: "512M"

  # Auth Database (MongoDB)
  auth-db:
    image: mongo:6.0
    container_name: auth-db
    ports:
      - "27017:27017"
    volumes:
      - auth-data:/data/db
    networks:
      - microservices-network
    restart: always

  # Acad Service (FastAPI)
  acad-service:
    build: ./acad-service
    container_name: acad-service
    depends_on:
      - acad-db
    environment:
      DB_HOST: acad-db
      DB_PORT: "5432"
      DB_NAME: acad_db
      DB_USER: acad_user
      DB_PASSWORD: acad_pass
      AUTH_VERIFY_URL: http://auth-service:3001/api/auth/verify
    ports:
      - "3002:3002"
    volumes:
      - ./acad-service:/app
    networks:
      - microservices-network

  # Acad Database (PostgreSQL)
  acad-db:
    image: postgres:16-alpine
    container_name: acad-db
    environment:
      POSTGRES_DB: acad_db
      POSTGRES_USER: acad_user
      POSTGRES_PASSWORD: acad_pass
    ports:
      - "5432:5432"
    volumes:
      - acad-data:/var/lib/postgresql/data
      - ./acad-service/data/db_kelas.sql:/docker-entrypoint-initdb.d/db_kelas.sql
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
    ipam:
      config:
        - subnet: "172.16.0.0/28"

volumes:
  auth-data:
  acad-data:
